/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 16, 2015, 1:35:58 AM
    Author     : pooja

*/
body {
  background: url('body_bg.jpg');
  font-family:Vardana;
}

form {
  background-color: #006699;
  margin-left: 10cm;
  margin-top:5cm;
  margin-right:10cm;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: none;
}
p {
  font-weight: bold;
}

.error {
    color: red;
    font-size: 20;
}
img {
    border: 4px solid cadetblue;
}